@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: "Rubik Mono One", monospace, sans-serif;
    color: #E4EBF5;
    background-color: #272F44;
    overflow: hidden;
}

h1 {
    color: #5A79B6;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;

    margin: 24px;
    gap: 32px;
}

body>* {
    flex: 1;
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 960px;
    gap: 16px;
}

main>* {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section {
    width: 100%;
    border: 2px #3B496D solid;
    border-radius: 2px;
    padding: 2px;
}

#etch-a-sketch {
    display: flex;
    flex-direction: row;
}

#color > p:first-child,
#grid-size > p:first-child {
    padding-bottom: 8px;
}

#grid {
    display: flex;
    flex-wrap: wrap;

    max-width: 600px;
    max-height: 600px;
}

.grid-div {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 1px;
    border: 0.1px white solid;
}

#settings {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;

    padding: 8px;

    gap: 24px;

    width: auto;
}

#settings>p {
    font-size: large;
}

button {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
box-sizing: border-box;

background-color: #F3F7FB;
color: #5A79B6;

border:  none;
border-radius: 4px;

padding: 4px;

height: 40px;
width: 100%;
cursor: pointer;
}

#reset {
    background-color: #b0b0b0;
    color: #4f4f4f;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #5A79B6;
}

/* input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
} */

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#color-settings,
#grid-settings {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#grid-settings {
    margin-bottom: auto;
}

#color-mode {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    font-weight: 200;
}